<section class="jumbotron text-center">
  <h1>CookBook</h1>
  <p class="lead">Bem-vindo ao maior livro de receitas online</p>
</section>

<div class="row">
  <div class="col-md-9">

    <section id="all-recipes">
      <h3 class="text-center mb-4">Receitas</h3>
      <% if @recipes.any? %>
        <div class="row">
          <%= render @recipes %>
        </div>
      <% else %>
        <p class="text-center">
          Ainda não temos nenhuma receita. Que tal enviar uma?
        </p>
      <% end %>
    </section>

    <section id="last-recipes">
      <% if @recipes.any? %>
        <h3 class="text-center mb-4">Últimas receitas</h3>
        <div class="row">
          <%= render @recipes.last(6) %>
        </div>
      <% end %>
    </section>
  </div>

  <div class="col-md-3">
    <h3 class="text-center mb-4 col-md-3">Tipos de receita</h3>
    <% @recipe_types.each do |recipe_type| %>
      <li><%= link_to recipe_type.name, recipe_type %></li>
    <% end %>
  </div>
</div>