<h1 class="mt-4"><%= @recipe_type.name %></h1>

<% if user_signed_in? && current_user.admin %>
  <%= link_to 'Editar', edit_recipe_type_path(@recipe_type), class: 'btn btn-primary' %>
  <hr class="my-4">
<% end %>

<% if @recipe_type.recipes.any? %>
  <h3><%= @recipe_type.recipes.length %> receita(s) nesta categoria</h3>
  <hr class="my-4">
  <div class="row">
    <%= render @recipe_type.recipes %>
  </div>
<% else %>
  <h3> Nenhuma receita nesta categoria.</h3>
<% end %>

