<h1><%= @recipe_type.name %></h1>

<% if @recipe_type.recipes.any? %>
  <h3><%= @recipe_type.recipes.length %> receita(s) nesta categoria</h3>
  <div class="row">
    <%= render @recipe_type.recipes %>
  </div>
<% else %>
  <h3> Nenhuma receita nesta categoria.</h3>
<% end %>

